<nav class="portal-nav">
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="products">Products</NavLink>
    <NavLink href="checkout">Checkout</NavLink>
    <NavLink href="orders">Orders</NavLink>
    <NavLink href="order-status">Order Status</NavLink>
</nav>